/* css reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

button {
    margin: 16px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    width: 1000px;
    height: 1000px;
    display: flex;
    flex-direction: column;
}

#row {
    display: flex;
    flex: 1;
}

#square {
    flex: 1;
    border: 1px solid black;
}